body{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    background: #2c2a2a;
    fill: rgb(100, 183, 211);
}


#header_text {
    text-align: center;;
    color: rgb(100, 183, 211);
}

.progress{
    position: relative;
    display: block;
    margin:auto;
    margin-top: 100px;
    transform: scale(4, 4); 
}

.progress-circle{
    stroke-dasharray: 189;
    stroke-dashoffset: 0;
    stroke: rgb(100, 183, 211);
    stroke-width: 2px;
}

/* Fixing Font size because of SVG scaling */
.timer-text{
    font-size: 6px;
}

.timer-time{
    font-size: 15px;
}

/* Fix svg scaling offset with spacer*/
.spacer{
    height: 155px;
}

.buttons{
    text-align: center; 
}

.button{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-color: rgb(162, 160, 160);
    border-color: rgb(100, 183, 211);
    border-width: 3px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: auto;
    display: inline-block;
}

.setting-boxes{
    text-align: center;
    padding-top: 30px;
    max-width: 500px;
    margin: auto;
}

#pomodoro-setting-box{
    float: left;
    padding: 10px;
    border-width: 3px;
    border-color:slategray;
    border-style: solid;
    border-spacing: 15px;
}

#long-break-setting-box{
    float: right;
    padding: 10px;
    border-width: 3px;
    border-color: slategray;
    border-style: solid;
    border-spacing: 15px;
}

#short-break-setting-box{
    max-width: 100px;
    margin: auto;
    padding: 10px;
    border-width: 3px;
    border-color: slategray;
    border-style: solid;
}

.setting-text{
    color: rgb(100, 183, 211);
    line-height: 25px;
}

.setting-buttons{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align:center;
    background-color: rgba(162, 160, 160, 0.808);
    border-color: rgb(100, 183, 211);
    border-width: 3px;
    border-radius: 18px;
    
}